<%= form_for(@basic) do |f| %>
  <% if @basic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basic.errors.count, "error") %> prohibited this basic from being saved:</h2>

      <ul>
      <% @basic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
