<h1>Listing basics</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @basics.each do |basic| %>
  <tr>
    <td><%= link_to 'Show', basic %></td>
    <td><%= link_to 'Edit', edit_basic_path(basic) %></td>
    <td><%= link_to 'Destroy', basic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Basic', new_basic_path %>
